.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 360px;
}
.card-text2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: break-spaces;
  width: 100%;
}

.card {
  border: none !important;
  align-items: flex-start;
}

.row {
  row-gap: 60px;
}

.image2 {
  height: 300px;
  object-fit: cover;
  margin-block: 20px;
}
h1 {
  font-size: 3.5rem !important;
}
